/* body{
    --bs-bg-opacity: 1;
    background-color:rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
} */


.btncolor {
    border-color: rgb(0, 167, 209);
    color:rgb(0, 167, 209);
}
.btncolor:hover{
    background-color: rgb(0, 167, 209);
    border-color: rgb(0, 167, 209);
    color:white;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropmenu:hover{
    background-color: rgb(0, 167, 209);
    color: white;
}

.connt{
    margin-top: 40px;
}
.content{
    text-align: center;
    /* background-color:blue; */
}

.text{
    margin-top: 18px;
    height: 50px;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}
.image{
    display: block;
    width: auto;
    height: 50%;
    margin: auto;
}

#track{
    width: 50%;
    margin-bottom:20px;
}
