<!DOCTYPE html>
  
<html>
<head>
    
    <link rel='icon' href="{{url_for('static',filename='favicon-32x32.png')}}" type='image/x-icon' sizes="16x16" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title>Track Karo</title>
</head>

<body>
  

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='logo.png')}}" alt="" width="65" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Home">Home</a>
          </li>
          <li class="nav-item dropdown drophov">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item dropmenu"  href="#">Electronics</a></li>
              <li><a class="dropdown-item dropmenu" href="#">TVs & Appliances</a></li>
              <li><a class="dropdown-item dropmenu" href="#">Men</a></li>
              <li><a class="dropdown-item dropmenu" href="#">Women</a></li>
              <li><a class="dropdown-item dropmenu" href="#">Baby & Kids</a></li>
              <li><a class="dropdown-item dropmenu" href="#">Home & Furniture</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item dropmenu" href="#">More</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Track Item</a>
          </li>
        </ul>
        <form class="d-flex" method="POST" action="/Home">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"/>
          <button class="btn btncolor" type="submit">Search..</button>
        </form>
         
        
      </div>
    </div>
    
  </nav>

<!-- Carousel Div begins-->
  <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel" style="margin-top: 80px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='carosel.png')}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
       <img src="{{url_for('static', filename='carosel3.png')}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://rukminim1.flixcart.com/flap/1688/240/image/80c3e6054c1db1b1.jpeg?q=50" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="grid-container" style="height:100%;"> 
  <div class="grid-child" style="height:100%;"> 
    {% if len==0 %}
        <h2 style="text-align: center; margin-top:80px">NO ITEMS ON TRACK</h2>
    {% else %}
    {% for i in range(0,len) %}
    <div class="card track_items" style="width:40rem;margin-top:20px; margin-bottom: 10px;">

        <div class="content grid-container ">
          <img src="{{trackitem[i][1]}}" class="img-thumbnail grid-child" alt="Responsive image" >
          <div class="grid-child">
            <p style="margin-top:70px; font-weight:1000; text-align: center; margin-right: 5px;">{{trackitem[i][0]}}</p>
            <h6 class="mb-2 text-muted">Current Price : ₹ {{price[i]}} </h6>
            <h6 class="mb-2 text-muted">Your Budget : ₹ {{trackitem[i][3]}} </h6>

            <form class="d-flex" method="POST" action="/remove">
             <input type="hidden" value="{{trackitem[i][0]}}" name="prod_name">
             <button class="btn btncolor content"type="submit" style="margin-left: 110px; margin-top: 10px;">REMOVE</button>
          </form>
          </div>
          
        </div>
      </div>
      {% endfor %}
    {% endif %}
</div>

<div class="grid-child">
    <div class="card" style="width: 90%;margin-right: 80px; margin-top: 20px;background-color: rgba(0, 0, 0, 0.116);">
      <div class="card-body">
        <p class="card-text details_text">Items on track &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp {{len}}</p>
        <!-- <p class="card-text details_text"> Total Items:3</p> -->
        <form action="/remove_all" method="post">
        <button class="btn btn-primary" type="submit">Remove All</button>
      </form>

      
      </div>
    </div>
  </div>
  </div>

  <script>
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>

</body>

</html>